:root {
  /* 
   * Width of right side visualization panel.
   * This must be updated in conjunction with the const in App.tsx,
   * but should generally be greater to show the whole visualization.
  */
  --vis-width: 500px;
  /*
   * Header height
   */
  --header-height: 105px;
  /*
   * Height of the two main sections.
   * We add some padding on the bottom so that rows don't go off-
   * screen, which they do without padding
   */
  --section-height: calc(100% - 20px);
  /*
    * Color of selected table rows
    */
  --selected-color: #0073e6;
  /*
    * Color of hovered table rows
    */
  --hover-color: #00a3f6;
}

body {
  overflow: hidden;
}

header {
  height: var(--header-height);
  width: 100%;
}

section {
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: auto;
  position: absolute;
}

section.left-half {
  width: calc(100% - var(--vis-width));
  height: calc(var(--section-height) - var(--header-height));
  overflow: auto;
  left: 0
}

section.right-half {
  right: 0;
  width: var(--vis-width);
  height: calc(var(--section-height) - var(--header-height));
  max-height: 100%;
}

table {
  border-spacing: 0;
}

tr:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

tr, tbody, thead, table {
  width: 100%;
}

th {
  padding: 1px 4px;
}

td {
  padding: 0;
  margin: 0;
  border: 0;
}

tr.selected {
  background-color: var(--selected-color);
  color: white;
}

th:hover {
  cursor: pointer;
}



/** Default styles; leaving these */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
